.canvasArea{
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    width: 400px;
}
.btnCollection{
    margin-top: 11rem;
    margin-right: 0.5rem;
    display: flex-root;
    height: 5rem;
}
.canvasContainer{
    display: flex;
}