.canvasArea{
    margin: 2rem;
    width: 400px;
}
.btnCollection{
    margin-top: 3rem;
    margin-right: 0.5rem;
    display: flex-root;
}
.clearBtn {
    margin-top: 0.5rem;
    height: 2rem;
}
.downloadBtn{
    margin-top: 1rem;
    height: 2rem;
}